@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-gradient {
	@apply bg-gradient-to-r from-gradient-1 via-gradient-2 to-gradient-4;
}

.bg-gradient-conic {
	background: linear-gradient(270deg, #b16cea, #ff5e69, #ff8a56, #ffa84b);
	background-size: 800% 800%;

	-webkit-animation: AnimationName 0s ease infinite;
	-moz-animation: AnimationName 0s ease infinite;
	animation: AnimationName 0s ease infinite;
}

@-webkit-keyframes spin-slow {
	0% {
		background-position: 0% 53%;
	}
	50% {
		background-position: 100% 48%;
	}
	100% {
		background-position: 0% 53%;
	}
}
@-moz-keyframes spin-slow {
	0% {
		background-position: 0% 53%;
	}
	50% {
		background-position: 100% 48%;
	}
	100% {
		background-position: 0% 53%;
	}
}
@keyframes spin-slow {
	0% {
		background-position: 0% 53%;
	}
	50% {
		background-position: 100% 48%;
	}
	100% {
		background-position: 0% 53%;
	}
}

.animate-spin-slow {
	animation: spin-slow infinite 10s linear;
}

.keyword-strip-container {
	animation: scrollKeywords 10s linear infinite; /* Adjust the duration as needed */
}

@keyframes scrollKeywords {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(
			calc(-100% * 3)
		); /* Adjust the number of keywords */
	}
}
